<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Traffic Sign Detection - Logs</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="homes">Home</a></li>
                <li><a href="setting">Settings</a></li>
                <li><a href="account">Accounts</a></li>
                <li><a href="log">Logs</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Recent Sightings</h1>
            </div>
        </section>


        <section class="features">
            <div class="feature-box">
                <h3>Stop Sign</h3>
                <img class="feature-img" src="{{ url_for('static', filename='images/stop.jpg') }}" alt="Stop Sign">
                <p>May 9, 2023</p>
                <p>F-7 Main Markaz</p>
            </div>
            <div class="feature-box">
                <h3>80 Speed Limit Sign</h3>
                <img class="feature-img" src="{{ url_for('static', filename='images/speed80.jpg') }}" alt="80 Speed Limit Sign">
                <p>May 9, 2023</p>
                <p>Sirinagar Highway</p>
            </div>
            <div class="feature-box">
                <h3>U-Turn Sign</h3>
                <img class="feature-img" src="{{ url_for('static', filename='images/uturn.jpg') }}" alt="U-Turn Sign">
                <p>May 9, 2023</p>
                <p>Sirinagar Highway</p>
            </div>
            <div class="feature-box">
                <h3>School Zone Sign</h3>
                <img class="feature-img" src="{{ url_for('static', filename='images/schoolzone.jpg') }}" alt="School Zone Sign">
                <p>May 9, 2023</p>
                <p>Zahoor Elahi Road, H-13</p>
            </div>
        </section>
        
    </main>

    <footer>
        <p>&copy; 2023 Real-time Traffic Sign Detection for software project. All rights reserved.</p>
    </footer>
</body>
</html>
